body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e7eaf6;
}
h1 {
  font-size: 34px;
  margin: 30px 0px 30px 0px;
}

.form-control {
  margin-bottom: 80px;
}

.place {
  font-size: 30px;
  font-weight: 600;
  text-align: left;
}

.date {
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  text-align: left;
}

.weather {
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  text-align: left;
}

.actualweather {
  font-size: 50px;
  position: relative;
  left: -100px;
}
.degree {
  font-size: 50px;
  font-weight: 600;
  position: relative;
  left: -260px;
}

#celsius-link {
  font-size: 16px;
  text-decoration: none;
  position: relative;
  left: -480px;
  top: 15px;
}

#fahrenheit-link {
  font-size: 16px;
  text-decoration: none;
  position: relative;
  left: -710px;
  top: 15px;
}

.preview {
  font-size: 16px;
  font-weight: 700;
  margin-top: 80px;
}

.footer {
  font-size: 12px;
  position: relative;
  right: -120px;
  padding-top: 30px;
}
