body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e7f7f7;
  color: #24527a;
}

h1 {
  font-size: 34px;
  margin: 30px 0px 30px 0px;
}

img {
  border-radius: 15px;
}

.weather-app {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #8ab8e0;
  border-radius: 15px;
}
.form-control {
  margin-bottom: 80px;
}

#search-button {
  background: #24527a;
  border: #24527a;
}

#current-location {
  background: #a7bcb9;
  border: #a7bcb9;
}

.place {
  font-size: 30px;
  font-weight: 600;
  text-align: left;
}

.update {
  font-size: 16px;
  text-align: left;
}
.date {
  font-size: 16px;
  text-align: left;
}

.weather {
  font-size: 16px;
  text-align: left;
}

.weather::first-letter {
  text-transform: capitalize;
}

.actualweather {
  font-size: 50px;
  position: relative;
  left: -5px;
}
.degree {
  font-size: 50px;
  font-weight: 600;
  position: relative;
  left: -100px;
}

#celsius-link {
  font-size: 16px;
  text-decoration: none;
  position: relative;
  left: -220px;
  top: 15px;
}

#fahrenheit-link {
  font-size: 16px;
  text-decoration: none;
  position: relative;
  left: -360px;
  top: 15px;
}

#forecast {
  font-size: 16px;
  font-weight: 700;
  margin-top: 80px;
}

.footer {
  font-size: 12px;
  padding-top: 25px;
  margin: 0;
}
